@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');

@font-face {
    font-family: "Roboto" ;
    src: url("../fonts/roboto-italic.ttf");
}

img {
    max-width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}


.header {
    background-color: rgb(233, 233, 185);
    padding: .1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    width: 100%;
}
.links {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.menu-1 {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.logo {
    width: 4rem;
}


a:hover {
    font-weight: bold;
    padding: 20px;
    background-color: pink;
    color: blue;

}

.hero {
    height: 100vh;

    background-image: url("../img/conj3maria4-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero-content {
    width: 60%;
    background-color: rgba(241, 217, 188, 0.671);
    backdrop-filter: blur(.3px);
    padding: 1rem;
    border-radius: 1rem;
    flex-direction: column;
    display: flex;
}

.bienvenida {
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 100px;
    display: flex;
}
.hero-text {
    margin-left: 250px;
    font-size: 2rem;
    display: flex;
}

.subtitulo-inicio {
    margin-left: 250px;
    background-color: transparent;
    width: 320px;
    border: 5px inset antiquewhite;
    display: flex;
}
.contenedor {
    margin-top: 10px;
    margin-left: 300px;
    display: flex;
}
.fotos-ini {
    padding: 50px;
    display: flex;

}
.fotos1-ini {
    width: 100%;
}
.fotos1-ini {
    width: 30%;
    background-color: aqua;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    margin-inline: 1,5%;
    flex: 1;
}
.foto-inicio {
    width: 100%;

}

.foto-info {
    
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    justify-content: center;

}
.subtitulo-segundo {
    font-size: 30px;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 5px;
    
}
.des {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.wpp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
}
/*********************************************************************************
/************** INDEX ************************************************************/
.conbox {
    margin-top: 100px;
    margin-left: 100px;
    
    display: grid;
    width: 800px;
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
      ""
      ""
      ""
      "";
      gap: 5px;
}

.talle {
    border: 1px solid rgb(196, 23, 23);
    
    
}
.talle1 {
    grid-area: 1;
    
    
   
}
.talle2 {
    grid-area: 2;

}
.talle3 {
    grid-area: 3;

}
.talle4 {
    grid-area: 4;

}
.talle5 {
    grid-area: 5;

}
.talle6 {
    grid-area: 6;

}
.talle7 {
    grid-area: 7;

}
.talle8 {
    grid-area: 8;

}
.talle9 {
   grid-area: 9;
}
.talle10 {
    grid-area: 10;

}
.talle11 {
    grid-area: 11;

}
.talle12 {
    grid-area: 12;

}
.talle13 {
    grid-area: 13;

}
.talle14 {
    grid-area: 14;

}
.talle15 {
    grid-area: 15;

}
.talle16 {
    grid-area: 16;

}
.talle17 {
    grid-area: 17;

}
.talle18 {
    grid-area: 18;

}
.talle19 {
    grid-area: 19;

}
.talle20 {
    grid-area: 20;

}
.talle21 {
    grid-area: 21;

}
.talle22 {
    grid-area: 22;

}
.talle23 {
    grid-area: 23;

}
.talle24 {
    grid-area: 24;

}
.talle25 {
    grid-area: 25;

}
.talle26 {
    grid-area: 26;

}
.talle27 {
    grid-area: 27;

}
.talle28 {
    grid-area: 28;

}
.talle29 {
    grid-area: 29;

}
.talle30 {
    grid-area: 30;

}
.talle31 {
    grid-area: 31;

}
.talle32 {
    grid-area: 32;

}

.conbox > div {
        display: flex;
        justify-content: center;
        align-items: center;    
}
.contenedor1 {
    width: 600px;
    height: 600px;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 100 px 100px 100px 100px;
    grid-template-rows: 100px 100px;
    
    
}

.opcion {
    margin-left: 30px;
    list-style-type:"💖";
    background-color: greenyellow;
    margin-right: 10px;
    font-family: "Roboto Mono", monospace;
}
.variedad {
    margin-left: 100px;
    margin-bottom: 50px;
    list-style-type:"👕";
    font-family: "Roboto"
}
.tipo {
    font-family: Arial, Helvetica, sans-serif;
}
.Pijamas {
    width: 300px;
    background-color: black;
}
.imagen-principal {
   width: 50px;
   height: 50px;
   margin: 20px;
   
}
.imagen-primaria {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    border-top: 8px inset grey;
    border-left: 8px inset gray;
}
.imagen-secundaria { 
    margin-left: 50px;
    margin-bottom: 50px;
   

}
.inicio {
   margin: 10px 300px 10px 600px;
}


.sub-3 {
    margin-top: 10px;
    margin-left: 200px;
}


.p-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 600px;
}
.na-2 {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 300px;
}
.pie {
    background-color: grey;
    color: white;
    text-align: center;
    padding-block: 15px;
}
 /************************************************************
      como comprar
 ***************************************************/     




.cate {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 350px;

}
.como-comprar {
    margin-top: 20px;
    margin-left: 600px;
    margin-bottom: 50px;
}
.descri {
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 100px;
}
.foo {
    margin-top: 300px;
    margin-left: 50px;
}

/*********************************************
           contacto
/*******************************************/

.d-flexjustify-content-centeralign-items-centerfull-height {
    margin-block: 1000px;
} 
@media screen and (max-width: 480px) {
    .header {
        background-color: rgb(233, 233, 185);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    width: 100%;
      }
    
    .hero {
    height: 100vh;

    background-image: url("../img/conj3maria4-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    }
    .fotos1-ini {
        width: 30%;
        background-color: rgb(255, 0, 179);
        padding: 10px;
        border-radius: 15px;
        display: inline-block;
        margin-inline: 1,5%;
        flex: 1;
    }
    .hero-content {
        width: 60%;
        background-color: rgba(241, 217, 188, 0.671);
        backdrop-filter: blur(.3px);
       
        border-radius: 1rem;
        display: flex;  
      
        flex: 1;
    }

    .bienvenida {
        display: flex;
        font-size: 1rem;
        flex: 1;
    }
    .hero-text {
        display: flex;
    
        font-size: 1rem;
        flex: 1;
    }
    .subtitulo-inicio {
        display: flex;
    
        font-size: 2rem;
        flex: 1;
        
  
    }
    .contenedor {
        margin-top: 10px;
        margin-left: 200px;
        display: flex;
        flex: 1;
    }

    
}
@media screen and (max-width: 480px) {
    .conbox {
 
     grid-template-columns: 2fr;
     grid-template-rows: repeat(16, 1fr);
     grid-template-areas: 
       "talle1"
       "talle2"
       "talle3"
       "talle4"
       "talle5"
       "talle6"
       "talle7"
       "talle8"
       "talle9"
       "talle10"
       "talle11"
       "talle12"
       "talle13"
       "talle14"
       "talle15"
       "talle16";
 
    }
}

